*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --dark-color: #0b132b;
    --theme-color: #2bc7c9;
    --light-theme: #f5feff;
    --light-theme-grey: #fbfbfb;
    --heading-color: #021325;
    --sub-text-color: #242b35;
    --list-color: #727272;
    --red: #f30;
    --white: #fff;
    --small-text: 12px;
    --main-spacing-top: 40px;
    --success: #51b74e;
  }

.small-text, a, label, span {
    font-size: .87em;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body{
    font-family: Euclid Circular B;
}

.sticky-top{
    margin-top: 0;
    z-index: 100;
}

.top-band{
    background-color: var(--dark-color);
    padding: 4px 0;
    overflow-x: hidden !important;
}

.contact-wrap{
    position: absolute;
    margin-top: 6px;
    right: 3%;
    z-index: 10;
}

.contact-wrap a{
    color: var(--white);
    text-decoration: none;
}


.info-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message{
    font-weight: 800;
    color: #FFFFFF;
    text-align: center;
    margin-right: 7px;
}
